<!DOCTYPE html>
<html>
<head>
	<title>pie_chart</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
</head>
<body>
<div class="container">
	<canvas id="canvas" width="500px" height="500px"></canvas>
	<button id="btn">点我</button>
</div>
</body>
<script type="text/javascript" src="/javascripts/script.js"></script>
</html>